#navbar {
    height: 175px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
}

.logo-image {
    display: block;
    margin-left: 550px;
    margin-right: 30px;
    margin-top: 20px;
    float: left;
}

.title {
    margin-right: 500px;
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top {
    height: 750px;
    max-width: 100%;
    background-image: url("../b14c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
}

.UE {
    text-align: center;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
    list-style: none;
    display: inline;
}    
    
li>a {  
    list-style: none;
    float: left;
    margin-right: 30px;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none; 
}

#rules {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dates {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.about {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contacts {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.link1 {
    background-color: green;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

#mail-link {
    float: right;
}

#paragraph {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

th {
    text-align: center;
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

td {
    text-align: center;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
}

Label {
    text-align: center;
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    width: 150px;
    display: inline-block;
}

select {
    background-color: green;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-bottom: 15px;
    margin-top: 5px;
}

form {
    margin-left: 350px;
}

.maps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    margin-top: 20px;
}

iframe {
    margin-top: 25px;
    margin-bottom: 25px;
}

h3 {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

button {
    background-color: green;
    color: white;
    padding: 15px 32px;
    margin-left: 20px;
    border-radius: 8px;
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: green;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}